* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {background:#FEFEFE;}

.menu_bar {
	display:none;
}

#imagen {

    width: 80px;
    height: 80px;
    margin-top: -92px;
    margin-left: 5px;
}

#cbtis {

    height: 70px;
    width: 70px;
    border-radius: 50px;
    
}

header {
	width: 100%;
}

.divNav {

	background-color: #011826;
	height: 150px;
	padding-top:30px;
	border-radius: 0 0 10px 10px;
}
/* con esto defines el tamaño de la barra de navegacion y la posicion
de los elementos */
nav {
	background:#023859;
    height: 105px;
	width:97%;
	margin:20px auto;
    border-radius: 20px;
    border:  3px #366583 solid;
    text-align: right;
	margin-top: 0px;
	box-shadow: 10px 9px 15px ;

}

/* pone los elemtos en horozontal
header nav ul {
	list-style:none;
}*/

/* para poner el menu horizonal */
 nav ul li {
	display:inline-block;
	position: relative;
    text-align: center;
    
}

/* Con esto cuando seleccionas un objeto cambia de color*/
 ul li:hover {
	background:#E6344A;
    border-radius: 30px;
    height: 98px;
    border: 4px solid #911524;
    margin-top: 2px;
   
}

/* con esto le pones una barra de navegacion a la lista desplegable*/
.children {
    border-radius: 30px;
    height: 200px;
    overflow-x: hidden ;
   
}

/* con esto le das formato a los elementos 
de la barra para que no sean simples links*/   /* */   /* */
header nav ul li a {
	color:rgb(255, 255, 255);
	display:block;
	text-decoration:none;
	padding: 30px;

    
    
}

/* header nav ul li a span {
	margin-right:10px;
} */

/* con esto muestras la lista en el menu */
header nav ul li:hover .children {
	display:block;
}

/* esto ajusta el tamaño y posicion del menu despegable y la oculta */
header nav ul .children {
	display: none;
	background:#011826;
	position: fixed;
	width: 200px;
    text-align: center;
    
}
footer {
	background-color: #073153;
	width: 100%;
	height: 300px;
	border: 3px solid rgb(26, 26, 233);
	border-radius: 15px 15px  0 0 ;
	margin-top: -50px;
}


header nav ul li .children li a {
	display: block;
}

header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}

header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}

input {

  border-radius: 30px;
  border: 4px groove gray;
  background-color: silver;
  padding: 5px;
}

textarea {
  border-radius: 30px;
  background-color: silver;
  border: 2px inset gray;
}
#divcon {
  border: 2px ridge black;
  background: rgba(34,34,34,.65);
  border-radius: 50px;
  width: 400px;
  height: auto;
  padding: 40px;
  margin-top: 40px;
}
#bodycon {
    background-image: url(https://www.freejpg.com.ar/image-900/a1/a1be/F100008378-oficina.jpg);
    background-size: 100%;
    align-items: center;
}
.divtext {
	background-color: rgb(90, 175, 6);
	border: 3px solid rgb(8, 141, 8);
	border-radius: 10px;
	padding: 10px;
	height: auto;
	width: 80%;
	position: relative;
	left: 10%;

}
.divVid {
	background-color: rgb(105, 196, 15);
	border: 3px solid rgb(8, 141, 8);
	border-radius: 10px;
	padding: 10px;
	height: auto;
	width: 60%;
	position: relative;
	left: 20%;
}
.divIn {
	background-color: rgb(105, 196, 15);
	border: 3px solid rgb(8, 141, 8);
	border-radius: 10px;
	padding: 10px;
	height: auto;
	width: 40%;
	position: relative;
	left: 30%;
}
.mainG {
	align-items: center;
	background-image: url(https://th.bing.com/th/id/R.227d9db426f77f3fd513433a8bf27f3d?rik=L4Puis%2bzpykXCA&pid=ImgRaw&r=0);
}
.imgLogo {

	position: relative;
	width: 100px;
	height: 100px;
	border-radius:  50px;
	left: 50px;
	top:25%;
}
/* definimos la linea del footer*/
.lineaFoot {
	background-color: #011826;
	position: relative;
	width: 100%;
	height: auto;
	top: 56%;
	text-align: center;
	padding: 3px;
	border-radius: 10px 10px 0 0 ;
}
#mainau {
background-image: url(https://th.bing.com/th/id/R.1f0c822ce1e378987e0acfdc7341680f?rik=FxWxIFBAbWw4%2fw&pid=ImgRaw&r=0&sres=1&sresct=1);
background-size: 100%;
}
.im {
	height: 50%;
	position: relative;
	width: 30%;
}
.im2 {
	height: 50%;
	position: relative;
	left: 31%;
	width: 30%;
}
.im3 {
	height: 50%;
	position: relative;
	left: 63%;

	width: 30%;
}

